table.data {
    width: 100%;
    margin:auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 55%;
    width: auto;
}

table.data td {
    padding: 15px 0px;
    border-bottom: 2px solid rgb(150, 214, 242);
    border-collapse: collapse;
}

table.KwiatDataMatrix {
    width: max-content !important;
    margin: auto;
    margin-top: 0px !important;
    text-align: center;

}
table.KwiatDataMatrix td {
    padding: 5px 5px;
}
